<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1><%= user.first_name %> <%= user.last_name %>'s Page</h1>
    <p>Looks like you've requested information for the user with id <%= user.id %>.</p>
    <p>Also, 1 + 1 = <%= 1 + 1 %></p>
    <%= if user.id == "0" do %>
      <%# we should tell everybody that user 0 is really cool %>
      User zero is really cool!!!
    <% end %>
    <%= if user.first_name == "Fluffums" do %>
      Also, let me just say that Fluffums is awesome.
    <% end %>
</body>
</html>
